{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "kelstar95@gmail.com",
      "Space": "kelstar"
    },
    "Name": "kelstarTestTask",
    "Instrumentation": {
      "services": [
        "text-to-speech-service",
        "language-translation-service"
      ]
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}