.row {
    margin-bottom: 20px;
}

.alert-danger {
	margin-top: 7px;
}

.error-message {
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    z-index: 9999;
}